<div class="row-fluid">
	<div class="span12">
	<div class="page-header">
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span4"><h1>Create Your Group!</h1></div>
		</div>
	</div>
	</div>
</div>
		<%= render 'form' %>
